# Basic Introduction to markdown cells and code cells. 

This is a markdown cell. 

You can have

1. Lists (ordered and unordered)
2. Bold text
3. Italic texts
4. Code blocks
5. Etc. 

Here's an example of a code blocks:

```
x = "hello world"
print (x)

```

In [1]:
# This is a code cell
x= "hello world!"

print(x)

hello world!

Markdown is basically plain text.

Except you can **format** things differently. 

# This is a Header 1

Here's some text, including _italics_.

## This is a Header 2

Here's some other text with **more bold**.

# Let's talk about restarting the kernel, and variables

In [3]:
dir()

['In',
 'Out',
 '_',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit',
 'x']

# Collapsing Cells

In [4]:
for value in range (100):
    print (value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# Load data using pandas

In [5]:
import pandas as pd

In [6]:
ls

Jupyter Tutorial Notebook.ipynb  heart.csv

In [8]:
df = pd.read_csv("heart.csv")

In [10]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# Running bash/terminal commands

# Magic Commands

In [ ]:
#google magic commands